# Ignore this file so it can be changed.
.gitignore

# Ignore configuration files that may contain sensitive information.

sites/*/settings*.php

# Ignore paths that contain user-generated content.
/files
/private
sites/*/files
sites/*/private


# Composer
/vendor

# Lando
.lando.yml

# SQL dumps
*.sql 

# Drush is installed with composer
drush